{# 2024-25 Season  Events #}
<div class="two-colum-wrapper">	
   <h2 class="heading-text">2024-25 Season Events</h2>
<div class="resultswrapper">
	{%- set postslist = collections['2024-25-Season-Events'] | reverse -%} 
	{% include "components/postslist-events.njk" %}
</div>
</div>
{# end 2024-25 Season Events #}

