{# Recent Results #}
<div class="postlist-section-wrapper-sidebar">	
    <h2 id="Recent-Results" class="heading-text">Upcoming Events</h2>
<div class="resultswrapper">
	{%- set postslist = collections['Event'] | reverse | limit(4) -%} 
	{% include "components/postslist-events-sidebar.njk" %}
</div>
</div>

{# end Recent Results #}

