
{% if mapberesfield %}
<div class="map">{% include "components/maps/map-beresfield.html" %}</div>

{% elif mapcasino %}
<div class="map">{% include "components/maps/map-casino.html" %}</div>

{% elif mapcharlestown %}
<div class="map">{% include "components/maps/map-charlestown.html" %}</div>

{% elif mapcoffs %}
<div class="map">{% include "components/maps/map-coffs.html" %}</div>

{% elif mapcresenthead %}
<div class="map">{% include "components/maps/map-cresenthead.html" %}</div>

{% elif mapforster %}
<div class="map">{% include "components/maps/map-forster.html" %}</div>

{% elif mapgrafton %}
<div class="map">{% include "components/maps/map-grafton.html" %}</div>

{% elif mapgtsc %}
<div class="map">{% include "components/maps/map-gtsc.html" %}</div>

{% elif maphuntersc %}
<div class="map">{% include "components/maps/map-huntersc.html" %}</div>

{% elif mapinverell %}
<div class="map">{% include "components/maps/map-inverell.html" %}</div>

{% elif maplaurieton %}
<div class="map">{% include "components/maps/map-laurieton.html" %}</div>

{% elif maplismore %}
<div class="map">{% include "components/maps/map-lismore.html" %}</div>

{% elif mapmaitland %}
<div class="map">{% include "components/maps/map-maitland.html" %}</div>

{% elif mapnelsonbay %}
<div class="map">{% include "components/maps/map-nelsonbay.html" %}</div>

{% elif mapmingara %}
<div class="map">{% include "components/maps/map-mingara.html" %}</div>

{% elif mapnewcastleforum %}
<div class="map">{% include "components/maps/map-newcastle-forum.html" %}</div>

{% elif mapportmac %}
 <div class="map">{% include "components/maps/map-portmac.html" %}</div>

{% elif mapsydneyolympic %}
<div class="map">{% include "components/maps/map-sydney-olympic.html" %}</div>

{% elif maptaree %}
<div class="map">{% include "components/maps/map-taree.html" %}</div>

{% endif %}
              