<div class="usefulsectionwrapper">
    
    <h3 class="heading-text">Hopefully Helpful Stuff</h3>

    <div class="usefultextwrapper">
        <div class="usefultexttitle"><h4>Working with Children Check</h4></div>
        <div class="usefultextcontent"><p>Required for some positions</p></div>
        <p><a class="useful" href="https://ocg.nsw.gov.au/working-children-check" title="Working with Children Check website" alt="Working with Children Check website" target="_blank" >https://ocg.nsw.gov.au/working-children-check</p>
    </div>

    <div class="usefultextwrapper">
        <div class="usefultexttitle"><h4>Sport Integrity Australia</h4></div>
        <div class="usefultextcontent"><p>Sport should be safe and fair. Sport Integrity Australia offers a safe place to raise concerns about behaviour you’ve witnessed or experienced in sport</p></div>
        <p><a class="useful" href="https://www.sportintegrity.gov.au/" title="Sport Integrity Australia website" alt="Sport Integrity Australia website" target="_blank" >www.sportintegrity.gov.au</p>
    </div>




    <div class="usefultextwrapper">
        <div class="usefultexttitle"><h4>Swimming NSW Club House</h4></div>
        <div class="usefultextcontent"><p>The Club House is Swimming NSW's online, digital club management and support guide to help swimming club committee members navigate the management of their club.</p></div>
        <p><a class="useful" href="https://clubhouse.swimming.org.au/" title="Swimming NSW Club House website" alt="Swimming NSW Club House website" target="_blank" >https://clubhouse.swimming.org.au/</p>
    </div>



    <div class="usefultextwrapper">
        <div class="usefultexttitle"><h4>Splash News / SwimScape Email Newsletters</h4></div>
        <p><a class="useful" href="https://us8.campaign-archive.com/home/?id=b241cad62d&u=d16b77c8da9efccf39fecd64a" title="https://us8.campaign-archive.com/home/?id=b241cad62d&u=d16b77c8da9efccf39fecd64a" target="_blank" >https://us8.campaign-archive.com/home/?id=b241cad62d&u=d16b77c8da9efccf39fecd64a</p>
    </div>

    <div class="usefultextwrapper">
        <div class="usefultexttitle"><h4>Swimming NSW Club Newsletter</h4></div>
        <p><a class="useful" href="https://us8.campaign-archive.com/home/?id=bf3bd1d2bd&u=d16b77c8da9efccf39fecd64a" title="https://us8.campaign-archive.com/home/?id=bf3bd1d2bd&u=d16b77c8da9efccf39fecd64a" target="_blank" >https://us8.campaign-archive.com/home/?id=bf3bd1d2bd&u=d16b77c8da9efccf39fecd64a</p>
    </div>

</div>  

