<section class="slidersection"> 
<div class="eightypercentborder3rem"></div>
    <div class="content1600 sponsorsslider">
        <h2 class="heading-text">GTSC Sponsors</h2>
        <h3 class="slider-text">We are extremely grateful for the support of our sponsors. Without them, there is no us.</br>
            Please support our sponsors in return.</h3>
      
        {% set postslist = collections['Slider']  %}
        {% include "components/postslist-slider.njk" %}
    

<div class="linkwrapper"><a class="resultspdf" href="/about/sponsors/" title="All GTSC Sponsors" alt="All GTSC Sponsors">For all GTSC Sponsors &gt;</a></div>

    </div>

</section>