<div class="usefulsectionwrapper">
    <h3 class="heading-text">Rules of Swimming</h3>

    <div class="usefultextwrapper">
        <div class="usefultexttitle"><h4>Rules Of Swimming</h4></div>
        <p><a class="useful" href="/resources/SwimNSW-Rules-April-2020" title="Rules Of Swimming" target="_blank" >Rules Of Swimming</p>
    </div>

    <div class="usefultextwrapper">
        <div class="usefultexttitle"><h4>Warm up Procedure</h4></div>
        <p><a class="useful" href="/resources/Warm-up-Procedures-6-Lane.pdf" title="Warm up Procedure" target="_blank" >Warm up Procedure</p>
    </div>


    <div class="usefultextwrapper">
        <div class="usefultexttitle"><h4>Assisted Self Marshalling</h4></div>
        <p><a class="useful" href="/resources/Assisted-Self-Marshalling-50m.pdf" title="Assisted Self Marshalling" target="_blank" >Assisted Self Marshalling</p>
    </div>

    <div class="usefultextwrapper">
        <div class="usefultexttitle"><h4>Starting Instructions</h4></div>
        <p><a class="useful" href="/resources/Starting-Instructions.pdf" title="Starting Instructions" target="_blank" >Starting Instructions</p>
    </div>

  
</div> 
