<div class="usefulsectionwrapper">
    <h3 class="heading-text">Swimming Governing Bodies</h3>

    <div class="usefultextwrapper">
        <div class="usefultexttitle"><h4>Swimming Australia</h4></div>
        <div class="usefultextcontent"><p>Swimming Australia is the peak governing body for swimming in Australia</p></div>
        <p><a class="useful" href="https://www.swimming.org.au/" title="https://www.swimming.org.au/" target="_blank" >https://www.swimming.org.au/</p>
    </div>

    <div class="usefultextwrapper">
        <div class="usefultexttitle"><h4>Swimming NSW</h4></div>
        <div class="usefultextcontent"><p>Swimming NSW's purpose is to operate as an administrative agency of swimming in NSW.</p></div>
        <p><a class="useful" href="https://nsw.swimming.org.au/" title="https://nsw.swimming.org.au/" target="_blank" >https://nsw.swimming.org.au/</p>
    </div>


    <div class="usefultextwrapper">
        <div class="usefultexttitle"><h4>Swimming North Coast</h4></div>
        <p><a class="useful" href="https://www.swimmingnorthcoast.com/" title="https://www.swimmingnorthcoast.com/" target="_blank" >https://www.swimmingnorthcoast.com/</p>
    </div>

    <div class="usefultextwrapper">
        <div class="usefultexttitle"><h4>Coast and Valley Swimming Association</h4></div>
        <div class="usefultextcontent"><p>Coast and Valley Swimming Association (CVSA) is the area body comprising swimming clubs from the Central Coast and Lower Hunter Valley. </p></div>
        <p><a class="useful" href="https://coastandvalleynsw.swimmingclub.org.au/" title="https://coastandvalleynsw.swimmingclub.org.au/" target="_blank" >https://coastandvalleynsw.swimmingclub.org.au/</p>
    </div>

  
</div>  
