<section class="useful-links"> 

    <div class="usefulsectionwrapper">
        <h3 class="heading-text">Swim Central Hub</h3>

        <h4>Swim Central is, well, central to all things swimming in NSW.</h4> 
        <p><strong>Swim Central is the place to go to find out about and pay club membership, enter swim meets, and to see the results.</strong></p>
    
        <div class="usefultextwrapper">
            <div class="usefultexttitle"><h4>Swim Central</h4></div>
            <div class="usefultextcontent"><p>Club Membership, Event Entries, it all happens here.</p></div>
            <p><a class="useful" href="https://swimcentral.swimming.org.au/home" title="https://swimcentral.swimming.org.au/home" target="_blank" >https://swimcentral.swimming.org.au/</p>
        </div>
    
        <div class="usefultextwrapper">
            <div class="usefultexttitle"><h4>Swim Central Results</h4></div>
            <div class="usefultextcontent"><p>The results of the above.</p></div>
            <p><a class="useful" href="https://www.swimming.org.au/events/results-central" title="https://www.swimming.org.au/events/results-central" target="_blank" >https://www.swimming.org.au/events/results-central</p>
        </div>
    
    
    
    
      
    </div>    
    
 

 <div class="eightypercentborder3rem"></div>

<!-- section break -->
{% include "components/global/swim-central-how-to.html" %}
<!-- section break -->  

<div class="eightypercentborder3rem"></div>

<!-- section break -->
{% include "components/global/swimming-governing-bodies.html" %}
<!-- section break -->  


<div class="eightypercentborder3rem"></div>

<!-- section break -->
{% include "components/global/helpful-links.html" %}
<!-- section break -->

<div class="eightypercentborder3rem"></div>

<!-- section break -->
{% include "components/global/swimming-rules.html" %}
<!-- section break -->


<div class="eightypercentborder3rem"></div>


<!-- section break -->
{% include "components/global/swimming-clubs.html" %}
<!-- section break -->


</section>

