<section class="sliderbox">
<div class="caption-text"><h1><span>{{ title }}</span></h1></div>
<div class="hero hide-for-print">     
<picture>
<source media="(max-width: 600px)" srcset="../img/blog_hero.jpg">
<source media="(min-width: 601px)" srcset="../img/blog_hero.jpg">
<img aria-hidden="true"  decoding="async" src="../img/blog_hero.jpg" alt="Gloucester Thunderbolts Swimming Club" title="Gloucester Thunderbolts Swimming Club"  width="1400" height="474">
</picture>
</div>
</section>
