<section class="grid-4-columns eventsum" >
	{% for post in postslist %}
<summary class="eventsummary">

{% if post.data.logo %}
<div class="silversponsorsumimage">
<a href="{{ post.data.website }}" target="_blank"><img src="{{ post.data.logo }}/tr:w-300,h-300" alt="{{ post.data.title }}" title="{{ post.data.title }}" width="300px" height="auto" class="postlistimg"></a>
</div>
{% endif %}

{% if post.data.website %}
<div class="linkwrapper">
	<a class="silversponsorwebsite" href="{{ post.data.website }}" alt="{{ title }}" title="{{ title }}" target="_blank">Website</a>
</div>
{% endif %}



<div class="sumtitle">
<h3 class="silver sum-title"><a class="eventtitle" href="{{ post.data.website }}" title="{{ post.data.title }}" alt="{{ post.data.title }}" target="_blank" >{{ post.data.title }}</a></h3>
</div>

			

</summary>
		
	{% endfor %}
</section>