     <!-- items -->
<div class="client-class">
      {% for post in postslist | reverse %}
<div>
        
       
{% if gold %}
      <div class="homesliderbanner goldsponsorsumimage">
          <a href="{{ post.url | url }}" alt="{{ post.data.title }}" title="{{ post.data.title }}"><img src="{{ post.data.image }}?tr=w-300,h-300" alt="{{ post.data.title }}" title="{{ post.data.title }}"></a>
     </div>
{% elif silver %}
     <div class="homesliderbanner silversponsorsumimage">
          <a href="{{ post.url | url }}" alt="{{ post.data.title }}" title="{{ post.data.title }}"><img src="{{ post.data.image }}?tr=w-300,h-300" alt="{{ post.data.title }}" title="{{ post.data.title }}"></a>
     </div>
{% elif bronze %}
     <div class="homesliderbanner bronzesponsorsumimage">
          <a href="{{ post.url | url }}" alt="{{ post.data.title }}" title="{{ post.data.title }}"><img src="{{ post.data.image }}?tr=w-300,h-300" alt="{{ post.data.title }}" title="{{ post.data.title }}"></a>
     </div>
{% endif %}



        
</div>

   {% endfor %}
</div>
     <!-- end items -->

