{% extends "layouts/grid-default.njk" %}

{% block bodyclass %}<body class="home {{ class }} " >
{% include "components/assets/facebook-body.njk" %}
{% endblock %}


{% block hero %}
{% include "components/hero/grid-home-hero.njk" %}
{% endblock %}


{% block content %}
<div class="container">
	<main class="home content">

<div class="grid-2x1">

<div class="twothirds">

	{{ content | safe }}
</div>

<div class="onethird">
	{% include "components/assets/facebook-body.njk" %}
</div>

</div>

{# Home 3 boxes #}
<div class="resultswrapper top">
<h2 class="heading-text">Latest Events, Results & News</h2>
{% include "components/assets/home3boxes.njk" %}
</div>
<div class="eightypercentborder"></div>
{# end Home 3 boxes #}




{# Upcoming 2024-25 Season Events #}
<div class="resultswrapper">
<h2 class="heading-text">2025 Winter Events</h2>
{% set postslist = collections['2025-Winter'] | limit (12) %} 
	{% include "components/postslist-events.njk" %}

	<div class="linkwrapper"><a class="resultspdf" href="/events/" title="All Events" alt="All Events" >For all Winter Event Listings &gt;</a></div>
</div>

{# end Upcoming 2024-25 Season Events #}

<div class="eightypercentborder"></div>


{# Upcoming 2025-26 Season Events #}
<div class="resultswrapper">
<h2 class="heading-text">2025-26 Season Events</h2>
{% set postslist = collections['2025-26-Season-Events'] | reverse | limit (12) %} 
	{% include "components/postslist-events.njk" %}

	<div class="linkwrapper"><a class="resultspdf" href="/events/" title="All Events" alt="All Events" >For all 2025-26 Event Listings &gt;</a></div>
</div>

{# end Upcoming 2025-26 Season Events #}


	</main>

{% include "components/global/slider.html" %}

</div>

{% endblock %}
