{% extends "layouts/grid-default.njk" %}

{% block bodyclass %}<body class="about {{ class }} " >
	<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v21.0"></script>{% endblock %}


{% block content %}
<div class="container">
	<main class="content fade-in">

<div class="grid-7x4">

<div class="contentleft">
    <div class="titlebox">
       <h1 class="heading-text">{{ title }}</h1>
    </div>
	{{ content | safe }}
</div>


<aside class="sidebar">
    <div class="sidebarbox">

    {# Recent Results #}
    {% include "components/results/sidebar-Results.njk" %}
    {# end Recent Results #}

    </div>
</aside>

</div>

</main>

    {# Sponsor slider #}
    {% include "components/global/slider.html" %}
    {# end Sponsor slider #}

</div>
{% endblock %}



