{% extends "layouts/grid-default.njk" %}

{% block bodyclass %}<body class="about {{ class }} " >
	<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v21.0"></script>{% endblock %}


{% block content %}
<div class="container">
	<main class="content">

<div class="grid-7x4">

<div class="contentleft">
    <div class="titlebox fade-in appear">
       <h1 class="heading-text">{{ title }}</h1>
    </div>
	{{ content | safe }}
</div>


<aside class="sidebar">
    <div class="sidebarbox">







{# Recent Results #}
<div class="two-colum-wrapper">	
    <h2 id="Recent-Results" class="heading-text">Recent Results</h2>
<div class="resultswrapper">

{% if sidebarnumber %}
{%- set postslist = collections['Results'] | reverse | limit(3) -%}
{% else %}
{%- set postslist = collections['Results'] | reverse | limit(6) -%}
{% endif %}
{% include "components/postlist/postslist-results-sidebar.njk" %}

</div>
</div>

<div class="linkwrapper"><a class="resultspdf" href="/events/results/" title="For all Event Results" alt="For all Event Results" >For all Event Results &gt;</a></div>
{# end Recent Results #}





    </div>
</aside>

</div>
	</main>
    {% include "components/global/slider.html" %}
</div>

{% endblock %}


