{% extends "layouts/grid-default.njk" %}



{% block content %}
<div class="container">
	<main class="content events">


        <div class="titlebox fade-in appear">
       <h1 class="heading-text">{{ title }}</h1>
        </div>
	{{ content | safe }}

{# 2025 Winter Events #}

	{% include "components/events/2025-Winter-Events.njk" %}

{# end 2025 Winter Events #}

<div class="eightypercentborder3rempadlow80pxabove"></div>

{# 2025-26 Season Events #}

	{% include "components/events/2025-26-Season-Events.njk" %}

{# end 2025-26 Season Events #}


<div class="linkwrapper"><a class="resultspdf" href="/events/results/" title="All Season Results" alt="All Season Results">For all Results &gt;</a></div>



	</main>
</div>

{% include "components/global/slider.html" %}

{% endblock %}

















