---
layout: layouts/grid-default.njk
section: post
---


 <div class="grid-2-sponsor">
<div class="detailwrapper">

<article>
<div class="detailcontent">{{ content | safe }}</div>

{% if website %}
<div class="linkwrapper">
{% if gold %}
<a class="goldsponsorwebsite" href="{{ website }}" alt="{{ title }}" title="{{ title }}" target="_blank">Website</a>
{% elif silver %}
<a class="silversponsorwebsite" href="{{ website }}" alt="{{ title }}" title="{{ title }}" target="_blank">Website</a>
{% elif bronze %}
<a class="bronzesponsorwebsite" href="{{ website }}" alt="{{ title }}" title="{{ title }}" target="_blank">Website</a>
{% endif %}
</div>
{% endif %}

{% if facebook %}
<div class="linkwrapper">
{% if gold %}
<a class="goldsponsorwebsite" href="{{ facebook }}" alt="{{ title }}" title="{{ title }}" target="_blank">Facebook</a>
{% elif silver %}
<a class="silversponsorwebsite" href="{{ facebook }}" alt="{{ title }}" title="{{ title }}" target="_blank">Facebook</a>
{% elif bronze %}
<a class="bronzesponsorwebsite" href="{{ facebook }}" alt="{{ title }}" title="{{ title }}" target="_blank">Facebook</a>
{% endif %}
</div>
{% endif %}


{% if address %}
<div class="map pad2remtop"><p><strong>Address :</strong> {{ address }}</p></div>
{% endif %}
{% if phone %}
<div class="map pad2remtop"><p><strong>Phone :</strong> {{ phone }}</p></div>
{% endif %}

{% if map %}
<div class="map pad2remtop"><p><strong>Map Shortcode :</strong> <a href="{{ map }}" title="{{ title }}">{{ map }}</a></p></div>
{% endif %}

</article>
</div>
 
<div class="item blogdetail">

{% if gold %}
<div class="goldsponsorsumimage">
<div class="blogdetailimage" align="center"><img src="{{ image }}?tr=w-400,h-400" alt="{{ title }}" title="{{ title }}"></div>
</div>
{% elif silver %}
<div class="silversponsorsumimage">
<div class="blogdetailimage" align="center"><img src="{{ image }}?tr=w-400,h-400" alt="{{ title }}" title="{{ title }}"></div>
</div>
{% elif bronze %}
<div class="bronzesponsorsumimage">
<div class="blogdetailimage" align="center"><img src="{{ image }}?tr=w-400,h-400" alt="{{ title }}" title="{{ title }}"></div>
</div>
{% endif %}
</div>

</div>
