---
layout: layouts/grid-default.njk
section: post
---

<div class="detailwrapper">
    <article>
        <div class="grid-7x4">
            <div class="item postdetail">
              
           

                <div class="time">
                    <p><strong>Record Updated :</strong>{{ updated }}</p>
                </div>

            <a class="recordspdfsmall" href="{{ records }}" title="{{ title }}" alt="{{ post.data.title }}" target="_blank">{{ subtitle }} Pdf &gt;</a>
               
                    <div class="detailcontent">{{ content | safe }}</div>

                    {% include "components/global/tagged.html" %}
         
            </div>

            <div class="sidebarwrapper">
                <div class="postnewsimage">
                    <img src="{{ image }}/tr:w-400,h-600" alt="{{ title }}" title="{{ title }}" width="400px" height="auto" class="postlistimg">
                </div>
            
            </div>
        </div>
    </article>
</div>
